[submodule "CV"]
	path = CV
	url = git@github.com:JusteRaimbault/CV.git

[submodule "Models/Utils/ScholarAPI"]
	path = Models/Utils/ScholarAPI
	url = git@github.com:JusteRaimbault/ScholarAPI.git
[submodule "Models/Utils/TorPool"]
	path = Models/Utils/TorPool
	url = git@github.com:JusteRaimbault/TorPool.git
[submodule "Models/Utils/rss2email"]
	path = Models/Utils/rss2email
	url = git@github.com:JusteRaimbault/rss2email.git
[submodule "Docs/Templates/firstname-lastname-template"]
	path = Docs/Templates/firstname-lastname-template
	url = git@github.com:umrlastig/firstname-lastname-template.git
[submodule "juste-raimbault"]
	path = juste-raimbault
	url = git@github.com:umrlastig/juste-raimbault.git
[submodule "Docs/lastig_data"]
	path = Docs/lastig_data
	url = git@github.com:umrlastig/lastig_data.git
