[submodule "CV"]
	path = CV
	url = git@github.com:JusteRaimbault/CV.git

[submodule "Models/Utils/ScholarAPI"]
	path = Models/Utils/ScholarAPI
	url = git@github.com:JusteRaimbault/ScholarAPI.git
[submodule "Models/Utils/TorPool"]
	path = Models/Utils/TorPool
	url = git@github.com:JusteRaimbault/TorPool.git
[submodule "Models/Utils/rss2email"]
	path = Models/Utils/rss2email
	url = git@github.com:JusteRaimbault/rss2email.git
